In [1]:
import pandas as pd

In [2]:
!pwd

/Users/sir/Springboard/SpringboardProject

In [3]:
fatal = pd.read_csv("fatal.csv")

In [11]:
fatal.value_counts('race')

race
W    2798
B    1465
H    1027
A     100
N      84
O      47
dtype: int64

In [9]:
fatal.head()

,id,name,date,manner_of_death,armed,age,gender,race,city,state,signs_of_mental_illness,threat_level,flee,body_camera,longitude,latitude,is_geocoding_exact,location
0,3,Tim Elliot,2015-01-02,shot,gun,53.0,M,A,Shelton,WA,True,attack,Not fleeing,False,-123.122,47.247,True,POINT(-123.122 47.247)
1,4,Lewis Lee Lembke,2015-01-02,shot,gun,47.0,M,W,Aloha,OR,False,attack,Not fleeing,False,-122.892,45.487,True,POINT(-122.892 45.487)
2,5,John Paul Quintero,2015-01-03,shot and Tasered,unarmed,23.0,M,H,Wichita,KS,False,other,Not fleeing,False,-97.281,37.695,True,POINT(-97.281 37.695)
3,8,Matthew Hoffman,2015-01-04,shot,toy weapon,32.0,M,W,San Francisco,CA,True,attack,Not fleeing,False,-122.422,37.763,True,POINT(-122.422 37.763)
4,9,Michael Rodriguez,2015-01-04,shot,nail gun,39.0,M,H,Evans,CO,False,attack,Not fleeing,False,-104.692,40.384,True,POINT(-104.692 40.384)

In [28]:
fatal_sel = fatal[['armed','age','race','state','signs_of_mental_illness']]

In [37]:
fatal_sel.value_counts('race')

race
W    2798
B    1465
H    1027
A     100
N      84
O      47
dtype: int64

In [44]:
fatal.value_counts('threat_level')

threat_level
attack          3982
other           1900
undetermined     257
dtype: int64

In [38]:
fatal_sel.race.value_counts(normalize=True)

W    0.506792
B    0.265350
H    0.186017
A    0.018113
N    0.015215
O    0.008513
Name: race, dtype: float64

In [39]:
fatal_sel.describe()

               age
count  5872.000000
mean     37.136751
std      13.011002
min       6.000000
25%      27.000000
50%      35.000000
75%      46.000000
max      91.000000

In [41]:
fatal_sel.value_counts('armed')

armed
gun                    3514
knife                   899
unarmed                 399
toy weapon              206
vehicle                 190
                       ...
fireworks                 1
cordless drill            1
contractor's level        1
claimed to be armed       1
wrench                    1
Length: 98, dtype: int64